@import '../../sass/variable.scss';
@import '../../sass/mixins.scss';
@import '../../sass/reset.scss';

.background {
 //Properties for small screens
 
 width: 100%;
 background-image: url('../../assets/img/banner01.png');
   
 @include forLargeScreens(640) {
   //Properties for large screens

  background-image: url('../../assets/img/banner01.png'); }
}

