@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.background {
 //Properties for small screens
 width: 100%;
 background: red;

 @include forLargeScreens(640) {
   //Properties for large screens
     width: 100%;
     background: blue;
 }
}

