//Image
$imgHome: "../assets/img/banner01.png";

//Colors
$background-color: #ddd0f8;
$primary-color: #7733e5;
$secondary-color: #9d75e9;
$color5: #9d75e9;
$color4: #cbb0f2;
$btn: #f16766;
$btnShadown: #fd8f9a;
$color7: #64bcfc;

//Font-Family
$roboto: "Roboto", sans-serif;

// Weights
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;
