@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.background{
    background-color:$primary-color;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
   a{
       justify-content: flex-end;
       
   }
    
}